{% extends "dashboard_layout.twig" %}
{% block title %}Cliente
{% endblock %}
{% block container %}
  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Content Section -->
    <div class="bg-light">
      <div class="container-fluid px-3 py-10" id="appOrders" data-ref="{{param}}">
      <h4 class="my-3 text-center">Menu ([Restaurant.name])</h4>
        <div class="row">
          <!-- Filter -->
          {# <div class="col-12 text-sm-right">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mb-3" v-if="Dishes">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span class="input-group-text bg-warning text-white border-0" id="searchProperty">
                      <span class="fas fa-search"></span>
                    </span>
                  </div>
                  <input class="form-control border-0" type="text" placeholder="Buscar" v-model="search">
                </div>
              </li>
            </ul>
          </div> #}
          <!-- End Filter -->
          <div class="col-12 my-3 px-1" id="paymentDetails">
            <!-- Accordion -->
            <div class="accordion" v-if="filteredDishes">
              <!-- Card -->
              <div class="card" v-for="(Dish, index) in filteredDishes">

                <div class="card-header card-collapse" :id="'cardHeading'+index">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block card-btn collapsed p-2" role="button" aria-controls="card" aria-expanded="false" :data-target="'#card'+index" data-toggle="collapse">
                      <span class="row align-items-center">
                        <span class="col-6 mb-2 mb-md-0">
                          <span class="media align-items-center">
                            <img class="max-width-10 mr-3 rounded" :src="Dish.photoURL">
                            <span class="media-body">
                              <span class="h5">([Dish.name])</span><br>

                              <span class="badge badge-success">
                                <b>Grupo:</b>
                                ([Dish.group])</span>
                            </span>
                          </span>
                        </span>
                        <span class="col-10 text-center">
                          <div class="bg-dark rounded">
                            <h2 class="h5 text-white mb-0">$([Intl.NumberFormat().format(parseInt(Dish.price))])</h2>
                          </div>
                        </span>
                        <span class="col-2 text-right">
                          <span class="card-btn-arrow">
                            <span class="fas fa-arrow-down small"></span>
                          </span>
                        </span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div class="collapse" aria-labelledby="cardHeadingOne" :id="'card'+index" data-parent="#paymentDetails">
                  <div class="card-body px-4">
                    <!-- Card Details -->
                    <div class="row">
                      <!-- Gallery -->
                      <img class="card-img-top w-100 h-100" v-if="Dish.photoURL" :src="Dish.photoURL">
                      <img class="card-img-top w-65 mx-auto" src="https://image.flaticon.com/icons/svg/1847/1847172.svg" v-else width="Image Description">
                      <!-- End Gallery -->
                      <div class="card-body p-4">
                        <!-- Posted Info -->
                        <div class="media align-items-center pb-3">
                          <div class="media-body">
                            <b class="d-block">([Dish.name])</b>
                            <h2 class="h5 mb-0">$([Intl.NumberFormat().format(parseInt(Dish.price))])</h2>
                          </div>
                        </div>
                        <!-- End Posted Info -->
                        <!-- Posted Info -->
                        <div class="media align-items-center border-top py-3 mb-3">
                          <div class="media-body">
                            <small class="d-block text-muted">
                              <b>Descripcion:</b>
                            </small>
                            <small class="d-block">([Dish.description])</small>
                          </div>
                        </div>
                        <!-- End Posted Info -->
                      </div>
                      <!-- Contacts -->

                    </div>
                    <!-- End Card Details -->
                  </div>
                </div>

              </div>
              <!-- End Card -->
            </div>
            <div class="accordion" v-else-if="filteredDishes==false && Dishes.length > 0 && search == ''">

              <!-- Card -->
              <div class="card" v-for="(Dish, index) in Dishes">
                <div class="card-header card-collapse" :id="'cardHeading'+index">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-block card-btn collapsed p-2" role="button" aria-controls="card" aria-expanded="false" :data-target="'#card'+index" data-toggle="collapse">
                      <span class="row align-items-center">
                        <span class="col-6 mb-2 mb-md-0">
                          <span class="media align-items-center">
                            <img class="max-width-10 mr-3 rounded" :src="Dish.photoURL">
                            <span class="media-body">
                              <span class="h5">([Dish.name])</span><br>

                              <span class="badge badge-success">
                                <b>Grupo:</b>
                                ([Dish.group])</span>
                            </span>
                          </span>
                        </span>
                        <span class="col-10 text-center">
                          <div class="bg-dark rounded">
                            <h2 class="h5 text-white mb-0">$([Intl.NumberFormat().format(parseInt(Dish.price))])</h2>
                          </div>
                        </span>
                        <span class="col-2 text-right">
                          <span class="card-btn-arrow">
                            <span class="fas fa-arrow-down small"></span>
                          </span>
                        </span>
                      </span>
                    </button>
                  </h5>
                </div>
                <div class="collapse" aria-labelledby="cardHeadingOne" :id="'card'+index" data-parent="#paymentDetails">
                  <div class="card-body px-4">
                    <!-- Card Details -->
                    <div class="row">
                      <!-- Gallery -->
                      <img class="card-img-top w-100 h-100" v-if="Dish.photoURL" :src="Dish.photoURL">
                      <img class="card-img-top w-65 mx-auto" src="https://image.flaticon.com/icons/svg/1847/1847172.svg" v-else width="Image Description">
                      <!-- End Gallery -->
                      <div class="card-body p-4">
                        <!-- Posted Info -->
                        <div class="media align-items-center pb-3">
                          <div class="media-body">
                            <b class="d-block">([Dish.name])</b>
                            <h2 class="h5 mb-0">$([Intl.NumberFormat().format(parseInt(Dish.price))])</h2>
                          </div>
                        </div>
                        <!-- End Posted Info -->
                        <!-- Posted Info -->
                        <div class="media align-items-center border-top py-3 mb-3">
                          <div class="media-body">
                            <small class="d-block text-muted">
                              <b>Descripcion:</b>
                            </small>
                            <small class="d-block">([Dish.description])</small>
                          </div>
                        </div>
                        <!-- End Posted Info -->
                      </div>
                      <!-- Contacts -->

                    </div>
                    <!-- End Card Details -->
                  </div>
                </div>
              </div>
              <!-- End Card -->
            </div>
            <!-- End Accordion -->
          </div>

          <div class="card-deck d-block d-md-flex" v-else>
            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-4 text-center">
                <span>No hay registro disponibles</span>
              </div>
            </div>
            <!-- End Projects -->
          </div>
        </div>
        <!-- Accordion -->
      </div>
    </div>

  <!-- End Content Section -->
</main>
<!-- ========== END MAIN ========== -->
{% endblock %}
{% block footer %}
<!-- Breadcrumb Section -->
<div class="bg-primary fixed-bottom py-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-left ml-2">
        <a href="javascript:void(0)">
          <i class="fas fa-arrow-left text-white fa-2x"></i>
        </a>
      </div>
      <div class="col text-center">
        <a href="javascript:void(0)">
          <i class="fas fa-concierge-bell text-white fa-2x"></i>
          <span class="badge badge-warning position-absolute top-0">0</span>
        </a>
      </div>
      <div class="col text-right mr-2">
        <a href="javascript:void(0)">
          <i class="fas fa-share-alt text-white fa-2x"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumb Section -->{% endblock %}
{% block addJsPlugins %}
<script src="{{assets}}/vendor/slick-carousel/slick/slick.js"></script>{% endblock %}
{% block addJsFront %}
<script src="{{assets}}/js/components/hs.slick-carousel.js"></script>
<script>
  $(document).on('ready', function () { // initialization of slick carousel
    $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');
  });
</script>
{% endblock %}
{% block appScript %}
<script src="/src/js/appDashboardHome.js"></script>
<script src="/src/js/appDishes.js"></script>
<script src="/src/js/appOrders.js"></script>
{% endblock %}
