<form
@submit="signIn" class="js-validate mt-3" v-show="signInShow">

  <!-- Title -->
  <div class="mb-7">
    <h2 class="h3 text-primary font-weight-normal mb-0">Bienvenido a
      <span class="font-weight-semi-bold">Eatery</span>
    </h2>
    <p>Inicie sesión para administrar su cuenta.</p>
  </div>
  <!-- End Title -->
  <!-- Form Group -->
  <div class="js-form-message form-group">
    <label class="form-label" for="signinSrEmail">Correo Electronico</label>
    <input aria-label="Correo Electronico" autocomplete="username" class="form-control" data-error-class="u-has-error" data-msg="Por favor ingresa un Correo Electronico valido." data-success-class="u-has-success" id="signinSrEmail" name="email" placeholder="Correo Electronico" required type="email" v-model="UserAuth.email">
  </div>
  <!-- End Form Group -->

  <!-- Form Group -->
  <div class="js-form-message form-group">
    <label class="form-label" for="signinSrPassword">
      <span class="d-flex justify-content-between align-items-center">
        Contraseña
        <a class="link-muted text-capitalize font-weight-normal" href="recover-account.html">¿Se te olvidó tu contraseña?</a>
      </span>
    </label>
    <input aria-label="********" autocomplete="current-password" class="form-control" data-error-class="u-has-error" data-msg="Tu contraseña es invalida. Por favor intenta de nuevo." data-success-class="u-has-success" id="signinSrPassword" minlength="6" name="password" placeholder="********" required type="password" v-model="UserAuth.password">
  </div>
  <!-- End Form Group -->

  <!-- Button -->
  <div class="row align-items-center mb-5">
    <div class="col-6">
      <span class="small text-muted">¿No tienes una cuenta?</span>
      <a @click="changeSignUp" class="small" href="javascript:void(0);">Regístrate</a>
    </div>

    <div class="col-6 text-right">
      <button class="btn btn-primary transition-3d-hover" type="submit">Empezar</button>
    </div>
  </div>
  <!-- End Button -->
</form>
