<div class="text-center">
  <span class="u-divider u-divider--xs u-divider--text mb-4">Ó</span>
</div>
<!-- Login Buttons -->
<div class="d-flex">
  <a @click="signInFacebook" class="btn btn-block btn-sm btn-soft-facebook transition-3d-hover mr-1" href="javascript:void(0)">
    <span class="fab fa-facebook-square mr-1"></span>
    Facebook
  </a>
  <a @click="signInGoogle" class="btn btn-block btn-sm btn-soft-google transition-3d-hover ml-1 mt-0" href="javascript:void(0)">
    <span class="fab fa-google mr-1"></span>
    Google
  </a>
</div>
<!-- End Login Buttons -->
