 <!-- Tables Modal Window -->
  <div id="formTableModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="formTableModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 v-if="Table.id" class="modal-title" id="formTableModalLabel">Editar Mesa</h5>
        <h5 v-else class="modal-title" id="formTableModalLabel">Nueva Mesa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="Table = [];file = false;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="formTable" class="js-validate">
        <div class="modal-body">
          <div class="card-body p-5">
              <div class="row">
                <!-- Input -->
                <div class="col-sm-12 mb-6">
                  <div class="js-form-message">
                    <label class="form-label">
                      Nombre
                      <span class="text-danger">*</span>
                    </label>

                    <input type="text" class="form-control" v-model="Table.name" name="name" minlength="3" placeholder="Mesa" aria-label="Mesa" required
                          data-msg="Por favor ingrese un nombre valido."
                          data-error-class="u-has-error"
                          data-success-class="u-has-success">
                  </div>
                </div>
                <!-- End Input -->
              </div>
          </div>
        </div>
        <!-- Buttons -->
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-soft-secondary transition-3d-hover mr-1" data-dismiss="modal"  @click="Table = [];file = '';">Cancelar</button>
            <button v-if="Table.id" type="submit" class="btn btn-sm btn-warning transition-3d-hover"  @click="updateTable(Table.id)">Editar Mesa</button>
            <button v-else type="submit" class="btn btn-sm btn-primary transition-3d-hover" @click="addTable">Añadir Mesa</button>
        </div>
        <!-- End Buttons -->
      </form>
    </div>
  </div>
  <!-- End Tables Modal Window -->