<!-- Tables Modal Window -->
<div aria-hidden="true" aria-labelledby="formTableModalLabel" class="modal fade" id="formTableModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formTableModalLabel" v-if="Table.id">Editar Mesa</h5>
        <h5 class="modal-title" id="formTableModalLabel" v-else>Nueva Mesa</h5>
        <button @click="Table = []" aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="js-validate" id="formTable">
        <div class="modal-body">
          <div class="card-body p-5">
            <div
              class="row">
              <!-- Input -->
              <div class="col-sm-12 mb-6">
                <div class="js-form-message">
                  <label class="form-label">
                    Nombre
                    <span class="text-danger">*</span>
                  </label>

                  <input aria-label="Mesa" class="form-control" data-error-class="u-has-error" data-msg="Por favor ingrese un nombre valido." data-success-class="u-has-success" minlength="3" name="name" placeholder="Mesa" required type="text" v-model="Table.name">
                </div>
              </div>
              <!-- End Input -->
            </div>
          </div>
        </div>
        <!-- Buttons -->
        <div class="modal-footer">
          <a href="javascript:void(0)" class="btn btn-sm btn-soft-secondary transition-3d-hover mr-1" data-dismiss="modal">Cancelar</a>
          <a href="javascript:void(0)" @click="deleteTable(Table.id)" class="btn btn-sm btn-soft-danger transition-3d-hover" data-dismiss="modal" v-if="Table.id">
            <i class="fas fa-trash-alt mr-1"></i>
            Eliminar
          </a>
          <button @click="updateTable(Table.id)" class="btn btn-sm btn-warning transition-3d-hover" type="submit" v-if="Table.id">
            <i class="fas fa-edit"></i>
            Actualizar</button>
          <button @click="addTable" class="btn btn-sm btn-primary transition-3d-hover" type="submit" v-else>Añadir Mesa</button>
        </div>
        <!-- End Buttons -->
      </form>
    </div>
  </div>
</div>
<!-- End Tables Modal Window -->
