<div aria-hidden="true" aria-labelledby="ordersModalLabel" class="modal fade" id="ordersModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ordersModalLabel">Ordenes de Mesa</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button" @click="Table = [];">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card-body p-5">
          <div
            class="row">
            <!-- Orders -->
            <!-- End Orders -->
          </div>
        </div>
      </div>
      <!-- Buttons -->
      <div class="modal-footer">
        <button @click="Table = [];" class="btn btn-sm btn-soft-secondary transition-3d-hover mr-1" data-dismiss="modal" type="button">Cerrar</button>
      </div>
      <!-- End Buttons -->
    </div>
  </div>
</div>
<!-- End Tables Modal Window -->

